.sectionHeader {
  color: var(--color-white);
  padding: var(--padding-xs) var(--padding-sm);
  background-color: var(--color-primary);
  font-size: 0.80em;
  font-weight: 600;
  border-radius: 9999px;
}

.heroContainer {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 var(--myglp-padding-md); 
}

.wideContainer {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 var(--myglp-padding-md);
}