.sectionHeader {
  margin: 2em;
}

.sectionHeader span {
  color: var(--color-white);
  padding: var(--padding-xs) var(--padding-sm);
  margin: var(--padding-lg) 0;
  background-color: var(--color-primary);
  font-size: 0.80rem;
  font-weight: 600;
  border-radius: 9999px;
}

.heroContainer {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 var(--myglp-padding-md); 
}

.wideContainer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 var(--myglp-padding-md);
}

.wideContainer > * {
  margin: var(--padding-md) 0;
}