.featureContainer {
  padding: var(--padding-md) 0;
  background: var(--background-feature-section);
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: var(--padding-md) 0;
  gap: var(--padding-md);
}
