.heroSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding-sm);
  align-items: center;
  padding: var(--padding-sm) var(--padding-lg);
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
}

@media (max-width: 768px) {
  .heroSection {
    grid-template-columns: 1fr;
    padding: var(--padding-sm);
  }

  .heroContent {
    text-align: center;
  }
}