.navGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: var(--padding-sm);
  gap: var(--grid-gap);
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--grid-gap);
  font-weight: 600;
}

.mobileButtonContainer {
  display: none;
  text-align: right;
}


.mobileButton {
  height: 75px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navGrid {
    position: relative;
  }

  .mobileButtonContainer {
    display: block;
  }

  .navLinks {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
  }

  .navLinksOpen {
    display: block;
  }

  .navLinks a {
    display: block;
    text-align: right;
    padding: var(--padding-sm);
    background-color: #ccc;
  }
}