.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: inline-flex; /* Use inline-flex to not take up full width */
  align-items: center;
  padding: 1.0em 1.5em 1.0em 1.5em;
  gap: 1.0em; /* Space between icon and text */
  border-radius: 9999px; /* This creates the capsule shape */
  transition: background-color 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .button {
    font-size: 1.0em;
  }
}