.downloadSection {
  padding: var(--myglp-padding-lg);
  text-align: center;
}

.downloadSection h2 {
  margin-bottom: var(--myglp-padding-md);
  font-size: 2em;
}

.downloadSection p {
  margin-bottom: var(--myglp-padding-md);
  font-size: 1.2em;
}
