.featureItem {
  text-align: center;
}

.featureItem h3 {
  margin-bottom: var(--padding-xs);
  font-size: 2.0rem;
  font-weight: 600;
}

.featureItem p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  min-height: 80px;
}

.image {
  border-radius: 4.0em;
}
