/* Strange Orbit - Mode 1 */
:root {
  --dusk-1: hsla(272, 14%, 41%, 1);
  --dusk-2: hsla(349, 28%, 54%, 1);
  --dusk-3: hsla(1, 56%, 64%, 1);
  --dusk-4: hsla(23, 58%, 72%, 1);
  --night-mountains: hsla(0, 0%, 100%, 1);
  --orbit-dark: hsla(0, 100%, 93%, 1);
  --orbit-light: hsla(0, 53%, 76%, 1);
  --background: hsla(212, 33%, 8%, 1);
  --text-primary: hsla(0, 2%, 91%, 1);
}

:root {
  --padding-sm: 0.5rem;
  --padding-md: 1.0rem;
  --padding-lg: 2.0rem;
  --padding-xl: 3.0rem;
  --padding-xxl: 4.0rem;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-size: 115%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}
