.home footer {
  color: #7b7979;
}

.home footer a {
  color: #913175;
  text-decoration: none;
}

.home header, .home article, .home footer {
  margin: 2.0rem auto 0;
  padding: 0.5rem;
  max-width: 40rem;
}

.home header, .home footer {
  text-align: center;
  margin-top: 5.0rem;
}

.home section {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.0rem;
}

.home strong {
  color: #CD5888;
}

.home p {
  margin-bottom: 1.0em;
}