.container {
  max-width: 60rem;
  margin: 0 auto;
}

.container > * {
   padding: var(--padding-md); 
}

.header {
  margin-top: var(--padding-xxl);
}

.logo {
  width: 128px;
  height: 128px;
  margin: 0 -24px 0;
}

.frontmatter {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.0rem;
}

.frontmatter article strong {
  color: var(--dusk-3);
}

.frontmatter p {
  margin-bottom: var(--padding-lg);
}

.footer {
  color: var(--dusk-1);
}

.footer a {
  color: var(--dusk-3);
  text-decoration: none;
}

.footer {
  text-align: center;
}