<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Strange Orbit</title>
  <style>
    body {
      background: #fff;
      color: #242424;
      font-size: 115%;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      margin: 0;
      padding: 0;
    }

    section {
      margin: 1.0rem;
    }

    section#content {
      max-width: 65rem;
    }

    p {
      line-height: 1.65rem;
    }

    img.logo {
      width: 75px;
      height: 75px;
    }
  </style>
</head>
<body>
  <section id="header">
    <nav>

    </nav>
  </section>
  <section id="content">
    {{ content }}
  </section>
</body>
</html>